{
  "defaultNetwork": "mainnet",
  "gaId": "UA-XXXXXXXXX-X",
  "fbPixelId": "XXXXXXXXXXXXX",
  "serviceReceiver": {
    "mainnet": "0x98660E546e738EF5E7Fca774500ac10070FCC4dc",
    "testnet": "0x98660E546e738EF5E7Fca774500ac10070FCC4dc"
  }
}
