{
  "defaultNetwork": "mainnet",
  "gaId": "UA-XXXXXXXXX-X",
  "fbPixelId": "XXXXXXXXXXXXX",
  "serviceReceiver": {
    "mainnet": "0x316e56B76721CA2f1E9C0F260C6379Fb13b83069",
    "testnet": "0x36822b2c76fBB90d05ae451AbDe6e133b346077b"
  }
}
